@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --var-color-dark: #080707; /*Cor do tema escuro*/
  --var-color-write: #6d5d5d; /*Cor do tema branco*/
  --var-color-main: #681515; /*Cor principal de destaque*/
  --var-color-soft-text: #e7e7e7; /*Cor de textos de cards e botões*/
  --var-color-dark-text: #000000; /*Cor para texto*/
  --var-color-light-text: #f0f0f0; /*Cor para texto*/
  --var-color-shadows: rgba(248, 0, 0, 0.2); /*Cor principal de destaque*/
  --var-color-dark-soft: #201e1e; /*Cor para card ou caixa de sobreposição*/
}

/*--------- Configurações Padrões ---------*/
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--var-color-dark);
  color: var(--var-color-light-text);
  font-size: 100%;
}

/*Animação da página com scroll*/
 .animate-item{
  opacity: 0;
  transition: all 1s ease-in-out;
}

.animate-item-active{
  opacity: 1;
  transition: all 1s ease-in-out;
}

.animate-container{
  opacity: 0;
  transition: all 0.8s ease-in-out;
}

.animate-container-active{
  opacity: 1;
  transition: all 0.8s ease-in-out;
}

/*Tag a de link*/
a {
  text-decoration: none;
  color: var(--var-color-light-text);
}
/*Tag Botão*/
.btn {
  padding: 12px;
  border: none;
  border-radius: 50rem;
  cursor: pointer;
}

/*-----------------------------------------*/
header {
  background-color: var(--var-color-dark);
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 999;
}

header nav a:hover {
  color: var(--var-color-soft-text);
  backdrop-filter: blur(114px); 
  box-shadow: 0 15px 40px var(--var-color-shadows);
  background-color: var(--var-color-main);
  transition: all 0.5s ease-in-out;
}

#content-header {
  display: flex;
  justify-content: space-around;
}

#bnt-menu-nav {
  display: none;
}

#content-header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 30%;
}

#right-nav {
  display: flex;
  justify-content: space-around;
  align-items: center; 
}

.my-logo {
  margin-right: 16px;
  width: 50px;
  height: 50px;
}

#primary-content {
  display: flex;
  justify-content: space-around;
  padding: 80px 16px 16px 16px;
}

#primary-content .left-content {
  align-items: center;
}

#photo-user {
  border-radius: 50%;
  width: 350px;
  height: 350px;
  overflow: hidden;
}

#photo-user img {
  bottom: 0;
  width: 100%;
}

#primary-content #bnt-curricule {
  width: 100%;
  padding: 24px 0;
  text-align: center;
}

#bnt-curricule .bnt-curriculum {
  font-weight: 600;
}

#bnt-curricule .bnt-curriculum:hover {
  color: var(--var-color-soft-text);
  transform: scale(1.1,1.1);
  transition: all 0.5s ease-in-out;
  backdrop-filter: blur(114px); 
  box-shadow: 0 15px 40px var(--var-color-shadows);
  background-color: var(--var-color-main);
}

#primary-content .right-content {
  width: 45%;
}

#primary-content .right-content .right-content-text {
  text-align: center;
}

#primary-content .right-content .right-content-text h1 {
  margin-bottom: 24px;
}

#primary-content .right-content .right-content-text h3 {
  margin-bottom: 24px;
}

.skills-knowledge,
.contacts,
.projects {
  border-radius: 8px;
  margin: 20px 12px;
  padding: 20px 12px;
}

.title-session {
  margin-bottom: 32px;
  text-align: center;
}

.skills-knowledge .skills-knowledge-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

/*Estilo da imagem e texto do card das habilidades e conhecimentos*/
.skills-knowledge .skills-knowledge-content .skill-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  color: var(--var-color-soft-text);
  backdrop-filter: blur(114px); 
  box-shadow: 0 15px 40px var(--var-color-shadows);
  background-color: var(--var-color-main);
}

.skills-knowledge .skills-knowledge-content .skill-item:hover{
  transform: scale(1.2,1.2);
}

.skills-knowledge .skills-knowledge-content .skill-item img {
  width: 60px;
  height: 60px;
}

.skills-knowledge-content {
  flex-wrap: wrap;
  gap: 20px;
}

.projects .projects-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.projects .projects-content .project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
  padding: 12px;
  border-radius: 20px;
  color: var(--var-color-soft-text);
  backdrop-filter: blur(114px); 
  box-shadow: 0 15px 40px var(--var-color-shadows);
  background-color: var(--var-color-main);
}
.projects .projects-content .project:hover{
  transform: scale(1.2,1.2);
}

.projects .projects-content .project .project-button {
  text-align: center;
  margin: 16px;
}

.projects .projects-content .project .project-button a div{
  background-color: var(--var-color-soft-text);
  color: var(--var-color-dark-text);
}

.projects .projects-content .project .project-button a div:hover{
  background-color: var(--var-color-dark-soft);
  color: var(--var-color-soft-text);
}

.bnt-link {
  background-color: black;
  border-radius: 50px;
  padding: 8px 0;
}

.contacts .contacts-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts .contacts-content .contacts-networking {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.contacts .contacts-content .contacts-networking .card-contacts:hover{
  transform: scale(1.2,1.2);
  transition: all 0.5s ease-in-out;
}

.contacts .contacts-content .contacts-networking .card-contacts{
  padding: 12px;
  border-radius: 12px;
  backdrop-filter: blur(114px); 
  box-shadow: 0 15px 40px var(--var-color-shadows);
  background-color: var(--var-color-main);
}

footer {
  padding: 16px;
  display: flex;
  flex-direction: column;
  text-align: center; 
}

footer hr {
  color: var(--var-color-light-text);
  border-width: 2px;
}

.footer-content {
  padding: 8px;
  margin: 8px;
}

.footer-content p {
  margin: 16px;
}

.heart {
  color: #f40000;
}

.icon-animation-settings {
  animation: rotate 2s linear infinite;
}

.icon-django {
  animation: bounce-bottom 4s infinite;
}

/*Animações*/
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes bounce-bottom {
  0% {
    transform: translateY(0px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(4px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

/*Configurações de Responsividade*/

@media (width <= 600px) {
  h1 {
    font-size: 24px;
  }

  h3 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }

  .title-name {
    font-size: 20px;
  }

  .my-logo {
    width: 30px;
    height: 30px;
  }

  /*Configurações da construção do menu*/
  #content-header nav a {
    color: var(--var-color-dark-text);
  }

  #content-header nav {
    flex-direction: column;
    background-color: var(--var-color-light-text);
    border-radius: 12px;
    padding: 12px;
    min-width: 180px;
    position: fixed;
  }

  /*Menu*/
  .menu-close {
    bottom: 80px;
    right: -800px;
  }

  .menu-open {
    bottom: 60px;
    right: 10px;
  }
  /*Botão Menu*/
  #bnt-menu-nav {
    background-color: var(--var-color-light-text);
    display: block;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    padding: 20px;
    border-radius: 50px;
    animation: heartbeat 5s infinite;
  }

  @keyframes heartbeat {
    from {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
    }
    10% {
      transform: scale(1);
      animation-timing-function: ease-in;
    }
    17% {
      transform: scale(0.5);
      animation-timing-function: ease-out;
    }
    33% {
      transform: scale(1);
      animation-timing-function: ease-in;
    }
    45% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
  }

  #content-header #bnt-menu-nav span {
    position: absolute;
    border-radius: 50px;
    width: 80%;
    height: 4px;
    background-color: #000000;
    right: 10%;
    top: 45%;
    transition: transform 0.5s;
  }

  .bnt-menu-nav-close span:first-child {
    transform: rotate(0deg);
  }

  .bnt-menu-nav-close span:last-child {
    transform: rotate(90deg);
  }

  .bnt-menu-nav-open span:first-child {
    transform: rotate(-45deg);
  }

  .bnt-menu-nav-open span:last-child {
    transform: rotate(45deg);
  }

  /*--------------*/
  #primary-content {
    flex-direction: column;
    align-items: center;
    padding: 16px;
  }
  #photo-user {
    width: 200px;
    height: 200px;
  }

  #primary-content .right-content {
    width: 100%;
  }

  .skills-knowledge .skills-knowledge-content .skill-item img {
    width: 30px;
    height: 30px;
  }

  .projects .projects-content .project .project-button {
    font-size: 14px;
  }

  .icon-contacts {
    width: 30px;
    height: 30px;
  }

  .contacts .contacts-content .contacts-networking .card-contacts a img{
    width: 30px;
    height: 30px;
  }
}
